#spinner {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000 !important;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#thankYou {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#thankYou h1{
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}