#spinner{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000 !important;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}